<h1 mat-dialog-title>Register New User</h1>
<div mat-dialog-content>
  <form [formGroup]="userForm" (submit)="onSubmit()" id="userForm">
      <mat-form-field appearance="outline">
        <mat-label>User Name</mat-label>
        <input matInput placeholder="Input Username" formControlName="username" class="userform">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Full Name</mat-label>
        <input matInput placeholder="Input Fullname" formControlName="fullname" class="userform">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Input Email" formControlName="email" class="userform">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Company</mat-label>
        <input  matInput placeholder="Input Company" formControlName="company" class="userform">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <textarea matInput cols="35" rows="8" placeholder="Input Address" formControlName="address" class="userform"></textarea>
      </mat-form-field>

      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close id="cancel">Cancel</button>
        <button mat-button cdkFocusInitial color="primary" id="add"><mat-icon aria-hidden="false" fontIcon="check"></mat-icon> Add</button>
      </mat-dialog-actions>
    </form>
</div>
